body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: gray;
    max-width: 50vw;
    overflow: hidden;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-;
}

#display {
    margin: 5px;
    height: 4rem;
}

button {
    width: 80px;
    height: 80px;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(202, 202, 202);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(159, 159, 159);
}