:root {
    --bgcolor: #550000;
    --calcolor: #AA3939;
    --dcolor: #ffa8a8;
    --bcolor: #D46A6A;;
    --bcolorhover: #d46a6abc;
    --opcolor: #801505b5;
    --opcolorhover: #801505;
    --funcolor: #600202da;
    --funcolorhover: #550000;
}

body {
    background-color: var(--bgcolor);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: var(--calcolor);
    max-width: 420px;
    border-radius: 10px;
    overflow: hidden;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#display {
    background-color: var(--dcolor);
    margin: 15px;
    height: 6rem;
    font-size: 4rem;
    color: var(--bgcolor);
    border-radius: 10px;
    border: none;
    text-align: right;
}

#keys {
    margin-top: 1.5rem;
}

#functions {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--bcolor);
    color: white;
    cursor: pointer;
    margin: 1px;
}

button:hover {
    background-color: var(--bcolorhover);
    transform: scale(1.08);
}

footer {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a {
    font-size: 1rem;
    font-weight: bold;
    color: var(--funcolor);
    text-decoration: none;
}

.op {
    background-color: var(--opcolor);
}

.op:hover {
    background-color: var(--opcolorhover);
}

.fun {
    background-color: var(--funcolor);
    border-radius: 10px;
    flex: auto;
}

.fun:hover {
    background-color: var(--funcolorhover);
}