:root {
    --bgcolor: #550000;
    --calcolor: #AA3939;
    --dcolor: #ffa8a8;
    --bcolor: #d46a6abc;
    --bcolorhover: #D46A6A;
    --opcolor: #801505b5;
    --opcolorhover: #801505;
    --funcolor: #600202c2;
    --funcolorhover: #550000;
}

body {
    background-color: var(--bgcolor);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#calculator {
    background-color: var(--calcolor);
    max-width: 420px;
    border-radius: 10px;
    overflow: hidden;
    height: 80vh;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#display {
    background-color: var(--dcolor);
    margin: 15px;
    height: 4.5rem;
    border-radius: 10px;
    border: none;
}

#keys {
    margin-top: 2rem;
    
}

#functions {
    display: flex;
    justify-content: space-around;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    background-color: var(--bcolor);
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: var(--bcolorhover);
}

.op {
    background-color: var(--opcolor);
}

.op:hover {
    background-color: var(--opcolorhover);
}

.fun {
    background-color: var(--funcolor);
}

.fun:hover {
    background-color: var(--funcolorhover);
}